.popup__wrap {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  position: relative;
  top: 22.9%;
  max-width: 430px;
  margin: 0 auto;
}
@media screen and (max-width: 540px) {
  .popup__wrap {
    top: 127px;
    max-width: 282px;
  }
}
