.header {
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  margin: auto;
  margin-top: 45px;
}

@media (max-width: 640px) {
  .header {
    min-height: 56px;
    margin-top: 28px;
  }
}
