.popup__window {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 430px;
  border-radius: 10px;
  margin-top: 195px;
  position: relative;
}

@media (max-width: 540px) {
  .popup__window {
    width: 282px;
    margin-top: 123px;
  }
}
